doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{__('PENDING_INVITES')}
    link(href="/css/style.css", rel="stylesheet", type="text/css")
    link(href="//fonts.googleapis.com/css?family=Lato:300,400,700,900,700italic|Open+Sans:700italic,400,600,300,700,800", rel="stylesheet", type="text/css")
  body
    #wrapper
      .main.pending
        .header
          h1
            strong #{__('PENDING_INVITES')}
        .content
          table
            thead
              tr
                th #{__('PENDING_EMAIL')}
                th #{__('PENDING_APPROVAL_LINK')}
            tbody
              each invite in invites
                tr
                  td.email #{invite.email_address}
                  td
                    form(method="POST")#approve-form.form
                      input(type='hidden', name='invite_token', value=invite.token)
                      input(type='submit', name='action', value='ACCEPT').submit
                      input(type='submit', name='action', value='MARK_ACCEPTED').submit
                      input(type='submit', name='action', value='MARK_REJECTED').submit
                      input(type='submit', name='action', value='DELETE').submit
